/* Custom css here */

#drop_zone, #files {
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
}